
#igra {
	width: 800px;
    height: 700px;
    background-image: url('icon/HiV.gif');
	background-size: cover;
	margin: 0 auto;
	position: relative;
	border: 5px solid #607D8B;
	overflow: hidden;
	
}

#lifes {
	position: absolute;
	display: block;
	top: 18px;
    right: 20px;
}
#lifes span {
	background-image: url('icon/scull.png');
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: block;
	float: left;	
}

#start-block {
	width: 100%;
	height: 100%;
	background-image: url('icon/fon.gif');
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	cursor: url('icon/cursor.png'), pointer;
}
#start-block button {
	background-image: url('icon/старт..png');
	display: block;
	width: 390px;
    height: 111px;
    position: absolute;
    top: 490px;
    left: 185px;
    cursor: url('icon/мішень.png'), pointer;
}
#start-block div {
	background-image: url('icon/name2.png');
	display: block;
	width: 675px;
	height: 93px;
	position: absolute;
	left: 39px;
    top: 150px
}
#gameover {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('icon/3.jpg');
    color: #0c0c0c;
    text-align: center;
    font-size: 27px;
    font-style: italic;
    background-size: contain;
    font-variant-caps: petite-caps;
    font-family: cursive;
}
#gameover h2 {
	top: 545px;
    position: absolute;
    left: 104px;
}